# Pandas Tutorial

## Introduction

Pandas is a powerful and flexible open-source data analysis and manipulation library for Python. It provides data structures like Series and DataFrame, which are essential for handling structured data efficiently. In this tutorial, we'll explore various functionalities of pandas with updated examples and exercises.

## Importing Necessary Libraries

```python
import pandas as pd
import numpy as np

## Series
A Series is a one-dimensional labeled array capable of holding any data type.

###Creating a Series from a List

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Creating a Series without specifying an index
s = pd.Series([10, 20, 30])
print(s)

0    10
1    20
2    30
dtype: int64

In [5]:
# Creating a Series with a custom index
labels = ['a', 'b', 'c']
s = pd.Series([10, 20, 30], index=labels)
print(s)

a    10
b    20
c    30
dtype: int64

###Creating a Series from a NumPy Array

In [6]:
my_array = np.array([10, 20, 30])
s = pd.Series(my_array)
print(s)

0    10
1    20
2    30
dtype: int64

In [7]:
# With custom index
s = pd.Series(my_array, index=labels)
print(s)

a    10
b    20
c    30
dtype: int64

## Creating a Series from a Dictionary

In [8]:
my_dict = {"name": "Arafat", "position": "PhD student", "year": 2023}
s = pd.Series(my_dict)
print(s)

name             Arafat
position    PhD student
year               2023
dtype: object

### Accessing Data from a Series

In [10]:
# Accessing by index label
print(s['name'])

Arafat

In [11]:
# Accessing multiple elements
print(s[['name', 'year']])

name    Arafat
year      2023
dtype: object

### DataFrames
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.

### Creating a DataFrame from a Dictionary

In [13]:
data = {
    "name": ["Arafat", "Ermiyas", "Zakarya"],
    "position": ["PhD student", "PhD Candidate", "Lecturer"],
    "year": [2023, 2024, 2025]
}
df = pd.DataFrame(data)
print(df)

      name       position  year
0   Arafat    PhD student  2023
1  Ermiyas  PhD Candidate  2024
2  Zakarya       Lecturer  2025

###Creating a DataFrame from a NumPy Array

In [15]:
np.random.seed(101)
df = pd.DataFrame(np.random.randn(10, 6), columns=list("ABCDEF"))
print(df)

          A         B         C         D         E         F
0  2.706850  0.628133  0.907969  0.503826  0.651118 -0.319318
1 -0.848077  0.605965 -2.018168  0.740122  0.528813 -0.589001
2  0.188695 -0.758872 -0.933237  0.955057  0.190794  1.978757
3  2.605967  0.683509  0.302665  1.693723 -1.706086 -1.159119
4 -0.134841  0.390528  0.166905  0.184502  0.807706  0.072960
5  0.638787  0.329646 -0.497104 -0.754070 -0.943406  0.484752
6 -0.116773  1.901755  0.238127  1.996652 -0.993263  0.196800
7 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826
8  2.154846 -0.610259 -0.755325 -0.346419  0.147027 -0.479448
9  0.558769  1.024810 -0.925874  1.862864 -1.133817  0.610478

### DataFrame Overview

In [16]:
# Displaying basic statistics
print(df.describe())

# Displaying data types
print(df.dtypes)

               A          B          C          D          E          F
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.661758   0.419558  -0.248806   0.667966  -0.248269   0.144669
std     1.381670   0.770644   0.945926   0.961754   0.873784   0.869387
min    -1.136645  -0.758872  -2.018168  -0.754070  -1.706086  -1.159119
25%    -0.130324   0.082686  -0.883237  -0.071323  -0.980799  -0.439416
50%     0.373732   0.498247  -0.165100   0.621974   0.057724   0.134880
75%     1.775832   0.669665   0.286531   1.509056   0.444309   0.579046
max     2.706850   1.901755   1.025984   1.996652   0.807706   1.978757
A    float64
B    float64
C    float64
D    float64
E    float64
F    float64
dtype: object

### Indexing and Selecting Data
Selecting Columns

In [17]:
# Selecting a single column
print(df['B'])

# Selecting multiple columns
print(df[['A', 'D']])

0    0.628133
1    0.605965
2   -0.758872
3    0.683509
4    0.390528
5    0.329646
6    1.901755
7    0.000366
8   -0.610259
9    1.024810
Name: B, dtype: float64
          A         D
0  2.706850  0.503826
1 -0.848077  0.740122
2  0.188695  0.955057
3  2.605967  1.693723
4 -0.134841  0.184502
5  0.638787 -0.754070
6 -0.116773  1.996652
7 -1.136645 -0.156598
8  2.154846 -0.346419
9  0.558769  1.862864

### Creating and Removing Columns

In [18]:
# Creating new columns
df['G'] = df['B'] + df['D']
df['H'] = df['A'] - df['C']
print(df)

          A         B         C         D         E         F         G  \
0  2.706850  0.628133  0.907969  0.503826  0.651118 -0.319318  1.131958
1 -0.848077  0.605965 -2.018168  0.740122  0.528813 -0.589001  1.346087
2  0.188695 -0.758872 -0.933237  0.955057  0.190794  1.978757  0.196184
3  2.605967  0.683509  0.302665  1.693723 -1.706086 -1.159119  2.377232
4 -0.134841  0.390528  0.166905  0.184502  0.807706  0.072960  0.575030
5  0.638787  0.329646 -0.497104 -0.754070 -0.943406  0.484752 -0.424423
6 -0.116773  1.901755  0.238127  1.996652 -0.993263  0.196800  3.898407
7 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826 -0.156231
8  2.154846 -0.610259 -0.755325 -0.346419  0.147027 -0.479448 -0.956677
9  0.558769  1.024810 -0.925874  1.862864 -1.133817  0.610478  2.887674

          H
0  1.798880
1  1.170091
2  1.121933
3  2.303302
4 -0.301745
5  1.135891
6 -0.354900
7 -2.162629
8  2.910172
9  1.484644

In [19]:
# Removing a column
df.drop('G', axis=1, inplace=True)
print(df)

          A         B         C         D         E         F         H
0  2.706850  0.628133  0.907969  0.503826  0.651118 -0.319318  1.798880
1 -0.848077  0.605965 -2.018168  0.740122  0.528813 -0.589001  1.170091
2  0.188695 -0.758872 -0.933237  0.955057  0.190794  1.978757  1.121933
3  2.605967  0.683509  0.302665  1.693723 -1.706086 -1.159119  2.303302
4 -0.134841  0.390528  0.166905  0.184502  0.807706  0.072960 -0.301745
5  0.638787  0.329646 -0.497104 -0.754070 -0.943406  0.484752  1.135891
6 -0.116773  1.901755  0.238127  1.996652 -0.993263  0.196800 -0.354900
7 -1.136645  0.000366  1.025984 -0.156598 -0.031579  0.649826 -2.162629
8  2.154846 -0.610259 -0.755325 -0.346419  0.147027 -0.479448  2.910172
9  0.558769  1.024810 -0.925874  1.862864 -1.133817  0.610478  1.484644

### Selecting Rows

In [20]:
# Selecting by label
print(df.loc[0])

A    2.706850
B    0.628133
C    0.907969
D    0.503826
E    0.651118
F   -0.319318
H    1.798880
Name: 0, dtype: float64

In [21]:
# Selecting by position
print(df.iloc[4])

A   -0.134841
B    0.390528
C    0.166905
D    0.184502
E    0.807706
F    0.072960
H   -0.301745
Name: 4, dtype: float64

###Selecting Subsets

In [22]:
# Selecting a subset of rows and columns
print(df.loc[:3, "A":"C"])

          A         B         C
0  2.706850  0.628133  0.907969
1 -0.848077  0.605965 -2.018168
2  0.188695 -0.758872 -0.933237
3  2.605967  0.683509  0.302665

In [23]:
print(df.loc[[1, 5], ['A', 'C']])

          A         C
1 -0.848077 -2.018168
5  0.638787 -0.497104

### Conditional Selection

In [24]:
# Applying conditions
print(df[df['E'] > 0])

          A         B         C         D         E         F         H
0  2.706850  0.628133  0.907969  0.503826  0.651118 -0.319318  1.798880
1 -0.848077  0.605965 -2.018168  0.740122  0.528813 -0.589001  1.170091
2  0.188695 -0.758872 -0.933237  0.955057  0.190794  1.978757  1.121933
4 -0.134841  0.390528  0.166905  0.184502  0.807706  0.072960 -0.301745
8  2.154846 -0.610259 -0.755325 -0.346419  0.147027 -0.479448  2.910172

In [25]:
print(df[(df['A'] > 0) & (df['C'] < 0)])

          A         B         C         D         E         F         H
2  0.188695 -0.758872 -0.933237  0.955057  0.190794  1.978757  1.121933
5  0.638787  0.329646 -0.497104 -0.754070 -0.943406  0.484752  1.135891
8  2.154846 -0.610259 -0.755325 -0.346419  0.147027 -0.479448  2.910172
9  0.558769  1.024810 -0.925874  1.862864 -1.133817  0.610478  1.484644

###Handling Missing Values

In [26]:
df = pd.DataFrame({
    'A': [1, 2, np.nan],
    'B': [4, np.nan, np.nan],
    'C': [7.0, 8, 9]
})
print(df)

     A    B    C
0  1.0  4.0  7.0
1  2.0  NaN  8.0
2  NaN  NaN  9.0

In [27]:
# Dropping missing values
print(df.dropna())

     A    B    C
0  1.0  4.0  7.0

In [29]:
# Filling missing values
df['A'].fillna(value=df['A'].mean(), inplace=True)
df['B'].fillna(value=df['B'].mean(), inplace=True)
print(df)

     A    B    C
0  1.0  4.0  7.0
1  2.0  4.0  8.0
2  1.5  4.0  9.0

<ipython-input-29-846879c4fe05>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(value=df['A'].mean(), inplace=True)
<ipython-input-29-846879c4fe05>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['B'].fillna(value=df['B'].mean(), inplace=True)

## GroupBy Operations

In [37]:
data = {
    'Company': ['Google', 'Google', 'Apple', 'Apple', 'Facebook', 'Facebook'],
    'Person': ['Sam', 'Charlie', 'Amy', 'Sally', 'Carl', 'Sarah'],
    'Sales': [200, 150, 300, 100, 250, 350]
}
df = pd.DataFrame(data)

# Grouping by 'Company'
df_group = df.groupby('Company')
print(df_group[['Sales']].mean())

          Sales
Company
Apple     200.0
Facebook  300.0
Google    175.0

###Merging, Joining, and Concatenating

####Concatenation

In [38]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])

# Concatenating along rows
result = pd.concat([df1, df2, df3])
print(result)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [39]:
# Concatenating along columns
result = pd.concat([df1, df2, df3], axis=1)
print(result)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

####Merging

In [40]:
left = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

right = pd.DataFrame({
    'key': ['K0', 'K1', 'K2', 'K3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})

# Merging on 'key'
merged_df = pd.merge(left, right, on='key')
print(merged_df)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

### CSV File

In [47]:
import pandas as pd
df = pd.read_csv("/content/sample_data/Excel_Sample.csv")
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [48]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
df

[                               Bank Name               City         State  \
 0                   Pulaski Savings Bank            Chicago      Illinois
 1     The First National Bank of Lindsay            Lindsay      Oklahoma
 2  Republic First Bank dba Republic Bank       Philadelphia  Pennsylvania
 3                          Citizens Bank           Sac City          Iowa
 4               Heartland Tri-State Bank            Elkhart        Kansas
 5                    First Republic Bank      San Francisco    California
 6                         Signature Bank           New York      New York
 7                    Silicon Valley Bank        Santa Clara    California
 8                      Almena State Bank             Almena        Kansas
 9             First City Bank of Florida  Fort Walton Beach       Florida

     Cert                 Aquiring Institution      Closing Date  \
 0  28611                      Millennium Bank  January 17, 2025
 1   4134   First Bank & Trust Co., Duncan, OK  October 18, 2024
 2  27332    Fulton Bank, National Association    April 26, 2024
 3   8758            Iowa Trust & Savings Bank  November 3, 2023
 4  25851               Dream First Bank, N.A.     July 28, 2023
 5  59017            JPMorgan Chase Bank, N.A.       May 1, 2023
 6  57053                  Flagstar Bank, N.A.    March 12, 2023
 7  24735  First Citizens Bank & Trust Company    March 10, 2023
 8  15426                          Equity Bank  October 23, 2020
 9  16748            United Fidelity Bank, fsb  October 16, 2020

    Fund  Sort ascending
 0                 10548
 1                 10547
 2                 10546
 3                 10545
 4                 10544
 5                 10543
 6                 10540
 7                 10539
 8                 10538
 9                 10537  ]

In [49]:
df[0]

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [50]:
df = pd.DataFrame({'name':['Sam','Charlie','Amy','Sally','Carl','Sarah'],
               'physics':[70, 60, 65, 90, 80, 95],
               'chemistry':[85, 80, 90, 85, 80, 100],
               'algebra':[80, 90, 85, 90, 60, 85]})

In [51]:
html = df.to_html()

textFile = open('index.html', 'w')
textFile.write(html)
textFile.close()