# Python Basics Lab Lecture

Welcome to this lab lecture where we will review basic Python concepts including comments, variables, printing, data types, strings, lists, dictionaries, sets, operators, conditional statements, and loops. Follow along with each cell to see examples and explanations.

## Comments

To write something

In [1]:
#my comments
print("Hello World!")

Hello World!

In [ ]:
print("Hello World!") #Some comment

Hello World!

In [ ]:
"""
Multiple lines comments.
"""

# crtl + /
# cmd + /

# I
# want
# to
# comment

'\nMultiple lines comments.\n'

## Variables

In [ ]:
x = 5
y = "string"

print(x, y)

5 string

In [ ]:
x = 10
x = "another"

print(x, y)

another string

### Rules for Variables

In [ ]:
myVar = 1
my_var = 1
myvar2 = 1
_myvar = 1
MyVar = 1

MyVar

1

In [ ]:
2myvar = 1

SyntaxError: invalid decimal literal (4079902239.py, line 1)

In [ ]:
x, y, z = 100, "type", True

print(x, y, z)

100 type True

In [ ]:
x = 5

def myfunc():
    global x
    print("Value of x is ", x)
    x = 1

myfunc()
myfunc()

Value of x is  5
Value of x is  1

## Printing

In [ ]:
myVar = "something"

myVar

'something'

In [ ]:
print(myVar)

something

In [ ]:
name = "Jose"
age = 35

print("My name is {var1} and I am {var2} years old.".format(var1=name, var2=age))
print("My name is {} and I am {} years old.".format(name, age))

My name is Jose and I am 35 years old.
My name is Jose and I am 35 years old.

## Data Types

In [ ]:
z = 2/3
type(z)

float

In [ ]:
x = False
type(x)

bool

In [ ]:
type(x)==type(z)

False

In [ ]:
x = int(z)

print(x, type(x))

0 <class 'int'>

## Strings

In [ ]:
'single'

'single'

In [ ]:
"double"

'double'

In [ ]:
phrase = "My name is "

print(phrase+name)
print(phrase, age)

My name is Jose
My name is  35

In [ ]:
words = "You're students."
words

"You're students."

## Lists

In [ ]:
['a','b','c','d']

['a', 'b', 'c', 'd']

In [ ]:
myList = [10, 6.5, 'z', ["You", "Me"], False]
myList

[10, 6.5, 'z', ['You', 'Me'], False]

In [ ]:
myList[-1]

False

In [ ]:
myList[1:4]

[6.5, 'z', ['You', 'Me']]

In [ ]:
b = True
myList.append(b)
myList

[10, 6.5, 'z', ['You', 'Me'], False, True]

In [ ]:
myList = myList[0:3]
myList

[10, 6.5, 'z']

In [ ]:
myList[:1]

[10]

In [ ]:
#Length
len(myList)

3

In [ ]:
myList.insert(1, 'y')
myList

[10, 'y', 6.5, 'z']

In [ ]:
myList.remove(['You', 'Me'])
myList

ValueError: list.remove(x): x not in list

In [ ]:
myList.pop(-1)
myList

In [ ]:
del myList[0]
myList

['y', 6.5, 'z']

In [ ]:
mySecList = [1,2,3]
list3 = myList + mySecList
list3

['y', 6.5, 'z', 1, 2, 3]

## Dictionaries

In [ ]:
ids = {
    1:{ #Index
        "name":"Jose", #key : #item
        "age":35,
        "height":187,
        "year":2019
    },
    2:{
        "name":"Ana",
        "age":37,
        "height":167,
        "year":2017
    }
}

ids

{1: {'name': 'Jose', 'age': 35, 'height': 187, 'year': 2019},
 2: {'name': 'Ana', 'age': 37, 'height': 167, 'year': 2017}}

In [ ]:
myName = ids[1]
othrName = ids.get(2)

print(myName)
print(othrName)

{'name': 'Jose', 'age': 35, 'height': 187, 'year': 2019}
{'name': 'Ana', 'age': 37, 'height': 167, 'year': 2017}

In [ ]:
age = othrName["age"]
age

37

In [ ]:
othrName["year"] = 2021
othrName

{'name': 'Ana', 'age': 37, 'height': 167, 'year': 2021}

## Sets

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
set3.discard(3)

In [ ]:
set3.remove('a')

In [ ]:
set3.remove('d')

KeyError: 'd'

In [ ]:
set3.discard('d')

In [ ]:
set3

{1, 2, 'b', 'c'}

## Operators

In [ ]:
x = 10
y = 20

In [ ]:
x > y

False

In [ ]:
x < y

True

In [ ]:
x == y # x != y

False

In [ ]:
x >= y

False

In [ ]:
x <= y

True

In [ ]:
not(x == y)

True

In [ ]:
x > 5 and x < 20 #or

True

## if statements

In [ ]:
if  x < y:
    print("is less")

is less

In [ ]:
x = 25
if  x < y:
    print("is less")
else:
    print("is greater")

is greater

In [ ]:
x = 20
if  x < y:
    print("is less")
elif x > y:
    print("is greater")
else:
    print("is equal")

is equal

## Loops

In [ ]:
newset = range(10)
print(newset)

range(0, 10)

In [ ]:
import random

for i in range(10): #0 1 2 3 4 5 6 7 8 9 range(lower, upper, step)
    n = random.randint(1, 50)
    print(n)

9
31
18
10
16
48
26
32
22
43

In [ ]:
i = 0
while i < 25:
    print("Another")
    i = random.randint(1, 30)
    print(i)

Another
24
Another
19
Another
8
Another
20
Another
22
Another
29