# Python Basics & Advanced Topics Lab Lecture

Welcome to this lab lecture where we will cover Python fundamentals along with topics from the latest curriculum. Todayâ€™s content includes:
- Basic syntax and comments  
- Variables, data types, and string formatting  
- Data structures: lists, dictionaries, and sets  
- Operators, conditionals, and loops  
- Advanced topics: f-strings, comprehensions, lambda functions, error handling, and pattern matching (Python 3.10+)

Let's get started!

## Comments in Python

- **Single-line comments:** Use `#` to comment out a single line.
- **Multi-line comments:** Use triple quotes (`"""` or `'''`) for multiple lines.

For Example:

In [ ]:
# This is a single-line comment

print("Hello World!")  # Prints Hello World!

"""
This is a multi-line comment.
It can span several lines.
"""

# Use shortcuts: Ctrl + / (Windows/Linux) or Cmd + / (Mac) to toggle comments.

Hello World!

'\nThis is a multi-line comment.\nIt can span several lines.\n'

## Variables

Variables store data values. Python is dynamically typed, meaning you can change the type of a variable after it's been created.

In [ ]:
# Assigning values to variables
x = 5
y = "string"

In [ ]:
print(x, y)  # Output: 5 string

5 string

In [ ]:
# Reassigning variables with different types
x = 10
x = "another"
print(x, y)  # Output: another string

another string

### Rules for Naming Variables

- Variable names can include letters, numbers, and underscores.
- They cannot start with a number.
- Names are case-sensitive.

In [ ]:
myVar = 1
my_var = 1
myvar2 = 1
_myvar = 1
MyVar = 1

MyVar

1

In [ ]:
2myvar = 1

SyntaxError: invalid decimal literal (<ipython-input-69-29075fb64ebe>, line 1)

In [ ]:
# Multiple assignment in one line:
x, y, z = 100, "type", True
print(x, y, z)

100 type True

In [ ]:
# Using a global variable inside a function:
x = 5
def myfunc():
    global x
    print("Value of x is", x)
    x = 1

myfunc()  # Prints: Value of x is 5, then sets x to 1
myfunc()  # Prints: Value of x is 1

Value of x is 5
Value of x is 1

## Printing and String Formatting

You can use the `print()` function to display text and variable values. Python provides multiple ways to format strings.

In [ ]:
myVar = "something"

myVar

'something'

In [ ]:
print(myVar)

something

In [ ]:
# Using the format() method
name = "Alexandra Abramov"
age = 76
print("My name is {var1} and I am {var2} years old.".format(var1=name, var2=age))
print("My name is {} and I am {} years old.".format(name, age))

# Using f-strings (Python 3.6+)
print(f"My name is {name} and I am {age} years old.")

My name is Alexandra Abramov and I am 76 years old.
My name is Alexandra Abramov and I am 76 years old.
My name is Alexandra Abramov and I am 76 years old.

## Data Types

Learn about basic data types such as integers, floats, booleans, and how to check a variable's type.

In [ ]:
z = 2/3
print(z, type(z))  # Output: float

0.6666666666666666 <class 'float'>

In [ ]:
x = False
print(x, type(x))

False <class 'bool'>

In [ ]:
print(type(x) == type(z))  # Comparing types

False

In [ ]:
# Converting a float to an integer
x = int(z)
print(x, type(x))

0 <class 'int'>

## Strings

Strings can be created with single or double quotes. They support concatenation, slicing, and more.

In [ ]:
# Examples of string literals
print('single')
print("double")

single
double

In [ ]:
phrase = "My name is "
print(phrase + name)
print(phrase, age)

My name is Alexandra Abramov
My name is  76

In [ ]:
words = "You're students."
print(words)

You're students.

## Lists

Lists are ordered, mutable collections that can store elements of different types.

In [ ]:
# Creating and manipulating lists
myList = [10, 6.5, 'z', ["You", "Me"], False]
print(myList)

[10, 6.5, 'z', ['You', 'Me'], False]

In [ ]:
# Accessing list items
print(myList[-1])  # Last element

False

In [ ]:
print(myList[1:4])  # Slicing

[6.5, 'z', ['You', 'Me']]

In [ ]:
# Modifying lists
myList.append(True)
print(myList)

[10, 6.5, 'z', ['You', 'Me'], False, True]

In [ ]:
# Slicing to keep a subset of the list
myList = myList[0:3]
print(myList)

[10, 6.5, 'z']

In [ ]:
print(myList[:1])

[10]

In [ ]:
# Getting the length of the list
print(len(myList))

3

In [ ]:
# Inserting an element
myList.insert(1, 'y')
print(myList)

[10, 'y', 6.5, 'z']

In [ ]:
# Removing an element (if it exists)
# Note: Removing a nested list may fail if it doesn't match exactly
myList.remove(["You", "Me"])  # Uncomment if applicable

ValueError: list.remove(x): x not in list

In [ ]:
# Removing the last element using pop
myList.pop(-1)
print(myList)

[10, 'y', 6.5]

In [ ]:
# Deleting an element by index
del myList[0]
print(myList)

['y', 6.5]

In [ ]:
# List concatenation
mySecList = [1, 2, 3]
list3 = myList + mySecList
print(list3)

['y', 6.5, 1, 2, 3]

## Dictionaries

Dictionaries store data in key-value pairs.

In [ ]:
ids = {
    1: {
        "name": "Alexandra",
        "age": 35,
        "height": 187,
        "year": 2019
    },
    2: {
        "name": "Abramov",
        "age": 37,
        "height": 167,
        "year": 2017
    }
}
print(ids)

{1: {'name': 'Alexandra', 'age': 35, 'height': 187, 'year': 2019}, 2: {'name': 'Abramov', 'age': 37, 'height': 167, 'year': 2017}}

In [ ]:
# Accessing dictionary values
myName = ids[1]
othrName = ids.get(2)
print(myName)
print(othrName)

{'name': 'Alexandra', 'age': 35, 'height': 187, 'year': 2019}
{'name': 'Abramov', 'age': 37, 'height': 167, 'year': 2017}

In [ ]:
age = othrName["age"]
age

37

In [ ]:
# Updating a value
othrName["year"] = 2021
print(othrName)

{'name': 'Abramov', 'age': 37, 'height': 167, 'year': 2021}

## Sets

Sets are unordered collections of unique elements. They support operations like union and difference.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

# Union of two sets
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
# Removing elements from a set
set3.discard(3)  # Discard does not raise an error if element is not found

In [ ]:
set3.remove('a')  # remove() will raise an error if element is not found

In [ ]:
set3.remove('d')  # Uncommenting this will cause an error

KeyError: 'd'

In [ ]:
set3.discard('d')  # This is safe even if 'd' is not present

In [ ]:
print(set3)

{1, 2, 'c', 'b'}

## Operators

Python provides various operators for arithmetic, comparisons, and logical operations.

In [ ]:
x = 10
y = 20

In [ ]:
x > y

False

In [ ]:
x < y

True

In [ ]:
x == y # x != y

False

In [ ]:
x >= y

False

In [ ]:
x <= y

True

In [ ]:
not(x == y) # Equality

True

In [ ]:
x > 5 and x < 20 #or

True

## If Statements

Conditional statements allow you to execute code based on conditions.

In [ ]:
# Simple if-else statement
x = 25
if x < y:
    print("x is less than y")
else:
    print("x is greater than or equal to y")

x is greater than or equal to y

In [ ]:
# If-elif-else statement
x = 20
if x < y:
    print("x is less than y")
elif x > y:
    print("x is greater than y")
else:
    print("x is equal to y")

x is equal to y

## Loops

Loops allow you to iterate over sequences or repeat tasks. We will see examples of both `for` and `while` loops.

In [ ]:
# Using a for loop with range
print("For loop with range:")
for i in range(10):  # Generates numbers 0 to 9
    print(i)

For loop with range:
0
1
2
3
4
5
6
7
8
9

In [ ]:
# Example with random numbers
import random
print("\nRandom numbers using for loop:")
for i in range(10):
    n = random.randint(1, 50)
    print(n)

Random numbers using for loop:
24
22
4
10
21
43
11
37
16
3

In [ ]:
# While loop example
i = 0
print("\nWhile loop example:")
while i < 25:
    print("Another")
    i = random.randint(1, 30)
    print(i)

While loop example:
Another
7
Another
23
Another
18
Another
5
Another
29

## Advanced Topics: Comprehensions and Lambda Functions

### List Comprehensions
A concise way to create lists.

### Dictionary Comprehensions
A concise way to create dictionaries.

### Lambda Functions
Anonymous functions defined with the `lambda` keyword.

In [ ]:
# List comprehension example: squares of numbers 0-9
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Dictionary comprehension example: mapping numbers to their squares
square_dict = {i: i**2 for i in range(10)}
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# Lambda function example: a function that doubles a number
double = lambda x: x * 2
print(double(5))

10

## Advanced Topics: Error Handling and Pattern Matching

### Error Handling
Use `try`, `except`, and `finally` to handle exceptions gracefully.

### Pattern Matching (Python 3.10+)
A new feature that allows more expressive handling of data using `match` statements.

In [ ]:
# Error Handling Example
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero!")
finally:
    print("This block always executes.")

Error: Division by zero!
This block always executes.

In [ ]:
# Pattern Matching Example (requires Python 3.10 or later)
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something else"

print(http_error(404))
print(http_error(200))

Not found
Something else

## Modules and Virtual Environments

- **Modules:**  
  Python files (with a `.py` extension) that can be imported and used in your code.

- **Virtual Environments:**  
  Isolated Python environments that allow you to manage dependencies for your projects without affecting your system-wide packages.
  
You can create a virtual environment using:


```
# python -m venv myenv
```

And activate it using:
- Windows: `myenv\Scripts\activate`
- macOS/Linux: `source myenv/bin/activate`